@import './base.css';
@import url(https://cdn.hugeicons.com/font/hgi-stroke-rounded.css);

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: underline;
  color: var(--neko-accent);
  transition: 0.4s;
  padding: 3px;

  &:hover {
    text-decoration: none;
  }
}

img.nekoplanet-logo {
  display: block;
  float: right;
  width: 20vw;
}

body {
  width: 100vw;
  max-width: 1280px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}