@import './base.css';
@import url(https://cdn.hugeicons.com/font/hgi-stroke-rounded.css);

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: underline;
  color: var(--neko-accent);
  transition: 0.4s;
  padding: 3px;

  &:hover {
    text-decoration: none;
  }
}

img.nekoplanet-logo {
  display: block;
  align-self: right;
  width: 20vw;
}

body {
  width: 100vw;
  max-width: 1280px;
}

.title {
  display: block;
  align-items: left;
  width: 100%;
  aspect-ratio: 4;
  background-image: url('@/assets/nekocouncil_0.png');
  background-position-x: center;
  background-position-y: -752px;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: 110%;
}