@import './base.css';
@import url(https://cdn.hugeicons.com/font/hgi-stroke-rounded.css);

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: underline;
  color: var(--neko-accent);
  transition: 0.4s;
  padding: 3px;

  &:hover {
    text-decoration: none;
  }
}

img.nekoplanet-logo {
  display: block;
  float: right;
  width: 20vw;
}

body {
  width: 100vw;
  max-width: 1280px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  background-color: #ccc;
  display: block;
  width: 100%;
  aspect-ratio: 3.5;
  background-image: url('@/assets/nekocouncil_0.png');
  background-position-x: center;
  background-position-y: 67%;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 125%;
  padding: 0;

  &::before {
    content: "";
    opacity: 0.5;
    background-color: black;
  }
}

.title-inner {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
  width: 100%;
  height: 100%;
}